# Ignore IntelliJ IDEA files
.idea/
*.iml
workspace.xml
/shelf/

# Ignore Maven build directories
target/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore backup and temporary files
*~
*.bak

# Ignore logs
*.log
